<a href="https://colab.research.google.com/github/rasathuraikaran/Machinelearning/blob/main/Kholi_runs_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
# Importing required libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [40]:
# Loading dataset
data = pd.read_csv('Virat_stats.csv')

In [41]:
data.head()

,batting_average,strike_rate,runs_scored_in_last_match,is_home_team,next_match_runs
0,47.55,87.36,112,1,96
1,51.23,92.21,76,0,50
2,34.75,78.09,41,1,22
3,59.81,104.23,142,0,134
4,43.67,85.23,65,1,35

In [42]:
data.shape

(9, 5)

In [43]:
data.describe()

,batting_average,strike_rate,runs_scored_in_last_match,is_home_team,next_match_runs
count,9.000000,9.000000,9.000000,9.000000,9.000000
mean,49.077778,91.607778,88.666667,0.555556,68.222222
std,9.135600,10.385947,34.604913,0.527046,38.356153
min,34.750000,78.090000,41.000000,0.000000,22.000000
25%,43.670000,85.230000,65.000000,0.000000,35.000000
50%,49.670000,90.340000,84.000000,1.000000,63.000000
75%,55.360000,95.670000,112.000000,1.000000,96.000000
max,61.450000,110.000000,142.000000,1.000000,134.000000

In [44]:
# Extracting features and target variable

X = data.drop('next_match_runs', axis=1)
X

   batting_average  strike_rate  runs_scored_in_last_match  is_home_team
0            47.55        87.36                        112             1
1            51.23        92.21                         76             0
2            34.75        78.09                         41             1
3            59.81       104.23                        142             0
4            43.67        85.23                         65             1
5            55.36        95.67                         95             0
6            38.21        81.34                         52             1
7            61.45       110.00                        131             0
8            49.67        90.34                         84             1

In [45]:
# Extracting features and target variable

y=data.next_match_runs
y

0     96
1     50
2     22
3    134
4     35
5     72
6     32
7    110
8     63
Name: next_match_runs, dtype: int64

In [46]:
# Splitting dataset into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, )

In [47]:
# Training the linear regression model
model = LinearRegression()

In [48]:
model.fit(X_train, y_train)

LinearRegression()

In [49]:
y_pred=model.predict(X_test)

In [51]:
print(y_pred)
print(y_test)

[ 51.61260752 124.55896897]
1     50
7    110
Name: next_match_runs, dtype: int64

In [38]:
#@title If virat kholi plays in home with batting_average=50 , strike_rate=87.36 ,runs_scored_in_last_match	=100 
# Predicting the runs
model.predict([[50, 90, 100, 1]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([70.68949481])

In [ ]:
#@title So This Match we can predict virat will score 71 runs